.navbar{
    --bs-navbar-color: white!important;
    --bs-navbar-active-color: rgb(146, 146, 233)!important;
    --bs-navbar-hover-color: rgb(146, 146, 233)!important;
}
.navbar-brand{
    color: var(--bs-navbar-color)!important;
}
.navbar-toggler{
    color: aqua!important;
}

.navbar-toggler:focus {
    box-shadow: none!important;
}